body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: linear-gradient(180deg, #ff9aa2, #ffb7b2);
  overflow: hidden;
  height: 100vh;
}

/* الكارت */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 80%;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.card p {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  background: #ff5e78;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}
button:focus{
    font-size: 1.2rem;
}
